/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-split-pane {
  --border: none !important;

  ion-list {
    background: transparent !important;
  }
  ion-item {
    --background: transparent !important;
    --color: var(--color-heading) !important;
    ion-icon {
      color: var(--color-heading) !important;
    }
  }
}
.active {
  position: relative;
  background-color: #eaebfe !important;
  color: var(--active-bg) !important;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  ion-icon {
    color: var(--active-bg) !important;
  }
  --color-hover: var(--active-bg) !important;
  border-radius: 20px !important;
  overflow: visible;
}

.split-pane-visible > .split-pane-side {
  min-width: 400px !important;
  max-width: 400px !important;
}
.addCourse-modal-page .modal-wrapper {
  height: 225px;
  width: 448px;
  top: 10%;
  position: center;
  display: block;
}
.avatar {
  width: 100px;
  height: 100px;
  margin-bottom: -30px;
}
.row {
  align-items: center;
  vertical-align: middle;
}
.logo {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  padding: 1.5em;
  justify-content: center;
}
.ion-list {
  padding-left: 5%;
  padding-top: 30px;
  margin-right: 10px;
}
.logoutbtn {
  --border-color: var(--ion-loginbtn);
  margin-left: 50%;
  margin-top: -19px;
  color: var(--ion-loginbtn);
}
.name {
  font-size: 1.4rem;
  color: var(--ion-font-color);
  text-transform: capitalize;
}
.email {
  font-size: 1rem;
  color: #0000008f;
}
.logincard {
  background: linear-gradient(to right, #8055f55c 0%, #0d9ed55c 100%);
  border-radius: 9px;
}
h6 {
  margin-top: -28px;
  margin-left: 21%;
  opacity: 1;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.searchbar-input {
  border-radius: 30px !important;
}

.font {
  color: var(--ion-font-color);
  margin-right: 250px;
}
