.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card {
  background: var(--ion-color-medium-contrast) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  --background: var(--ion-color-medium-contrast) !important;
}

.header {
  padding-top: 50px;
  margin-bottom: -17px;
  padding-left: 20px;
  padding-top: 45px;
  font-size: 33px;
  letter-spacing: 0;
  font-family: roboto;
  opacity: 1;
  color: var(--color-heading);
}

.course {
  font-size: 20px;
  font-weight: medium;
  font-family: Regular Roboto;
  color: var(--ion-color) !important;
  padding-left: 20px;
  margin-top: 15px;
}

.canvas {
  height: 125px;
  min-height: 15px;
  max-height: 125px;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
}

.bg {
  --background: none;
  background-image: url('../../assets/bgimage.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.name {
  font-family: Medium Roboto;
  font-weight: bold;
  padding-left: 20px;
  font-size: 2.4rem;
  color: #555cf5;
  margin-bottom: -20px;
  text-transform: capitalize;
}

.title {
  color: var(--color-heading);
  padding-left: 20px;
}

.timetable {
  height: 175px;
  border-radius: 15px;
  background-image: url('../../assets/card1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.average {
  background-image: url('../../assets/card2.svg');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 175px;
  border-radius: 15px;
}

.progress {
  height: 10px;
  margin-top: 37px;
  border-radius: 5px;
}

h1 {
  color: var(--ion-color-medium-contrast);
  padding-left: 10%;
}

h3 {
  color: var(--ion-color-medium-contrast);
}

h2 {
  color: var(--ion-color-medium-contrast);
  word-spacing: 6px;
  margin-bottom: 0px;
  margin-top: -17px;
}

.h1 {
  color: var(--ion-color-tertiary);
  text-align: center;
}

.h2 {
  color: var(--ion-color-tertiary);
  text-align: center;
}

.cardBtn {
  --border-radius: 28px;
  --border-color: var(--ion-color-medium-contrast);
  padding-left: 20px;
  --background: var(--ion-color-medium-contrast);
  color: #76cd6c;
  opacity: 1;
}
